	html body{
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
		}
		.d1,.d2,.d3,.d4,.d5,.h1,.h2,.m1,.m2,.s1,.s2{
			flex: 1;
			width: 40px;
			height: 400px;
		}
		.main{
			height: 40px;
			width: 900px;	 
			margin: 100px auto 10px auto;
			line-height: 48px;
			display: flex;
			overflow: hidden;
		}

		.main span{
			flex: 1;
			line-height: 40px;
			text-align: center;
		}

		.num{
			height: 40px;
			line-height: 40px;
			text-align: center;
			font-size: 35px;
			margin: 0;
		}
		#Gif{
			width: 180px;
			height: 180px;
			margin: auto;
			background-size: cover;
			background-repeat: no-repeat;
			background: url(../image/助手.gif);
		}
		#nan{
			margin: auto;
			width: 300px;
		}
		.morseShow
		{
			margin: 0 0 0 20px;
			display: block;
		}
		.content,.result
		{
			margin: 0 0 0 20px;
		}
		.morse>p
		{
			margin: 0 0 0 20px;
		}
		.sagnal
		{
			margin: 0 0 0 5px;
		}